.idea
key
app/*\.cache
app/cache/*

app/logs/*

app/config/parameters.yml
app/config/*.local.yml
behat.yml

web/bundles/*
web/css/*
web/js/*
web/assets/compiled/*
web/media/*

bin/*
vendor/*

composer.phar

deploy/deploy.rb
deploy/stages/*.rb
app/cache/
app/logs/
app/migrations/
bin/
Would skip repository vendor/coduo/php-matcher
vendor/coduo/php-to-string
Would skip repository vendor/lakion/api-test-case
Would skip repository vendor/symfony-cmf/create-bundle/Resources/public/vendor/ckeditor
Would skip repository vendor/symfony-cmf/create-bundle/Resources/public/vendor/create
vendor/symfony-cmf/create-bundle/Resources/public/vendor/.gitkeep
vendor/symfony-cmf/create-bundle/Resources/public/css
vendor/symfony-cmf/create-bundle/Resources/public/img
vendor/symfony-cmf/create-bundle/Resources/public/js
vendor/symfony-cmf/create-bundle/Resources/config
vendor/symfony-cmf/create-bundle/Resources/meta
vendor/symfony-cmf/create-bundle/Resources/views
vendor/symfony-cmf/create-bundle/.gitignore
vendor/symfony-cmf/create-bundle/.styleci.yml
vendor/symfony-cmf/create-bundle/.travis.yml
vendor/symfony-cmf/create-bundle/CHANGELOG.md
vendor/symfony-cmf/create-bundle/CmfCreateBundle.php
vendor/symfony-cmf/create-bundle/Command
vendor/symfony-cmf/create-bundle/Composer
vendor/symfony-cmf/create-bundle/composer.json
vendor/symfony-cmf/create-bundle/CONTRIBUTING.md
vendor/symfony-cmf/create-bundle/Controller
vendor/symfony-cmf/create-bundle/DependencyInjection
vendor/symfony-cmf/create-bundle/phpunit.xml.dist
vendor/symfony-cmf/create-bundle/README.md
vendor/symfony-cmf/create-bundle/Security
vendor/symfony-cmf/create-bundle/Tests
vendor/symfony-cmf/create-bundle/Workflow
vendor/symfony-cmf/block-bundle
vendor/symfony-cmf/content-bundle
vendor/symfony-cmf/core-bundle
vendor/symfony-cmf/media-bundle
vendor/symfony-cmf/menu-bundle
vendor/symfony-cmf/routing
vendor/symfony-cmf/routing-bundle
vendor/symfony-cmf/slugifier-api
vendor/autoload.php
vendor/behat
vendor/clue
vendor/cocur
vendor/composer
vendor/doctrine
vendor/friendsofsymfony
vendor/fzaninotto
vendor/gedmo
vendor/guzzle
vendor/guzzlehttp
vendor/hamcrest
vendor/imagine
vendor/incenteev
vendor/instaclick
vendor/ircmaxell
vendor/jackalope
vendor/jdorn
vendor/jeremykendall
vendor/jms
vendor/knplabs
vendor/kriswallsmith
vendor/league
vendor/liip
vendor/midgard
vendor/mockery
vendor/monolog
vendor/nelmio
vendor/nikic
vendor/ocramius
vendor/omnipay
vendor/openlss
vendor/pagerfanta
vendor/paragonie
vendor/payum
vendor/php-http
vendor/phpcollection
vendor/phpcr
vendor/phpdocumentor
vendor/phpoption
vendor/phpspec
vendor/phpunit
vendor/polishsymfonycommunity
vendor/psr
vendor/ruflin
vendor/sebastian
vendor/sensio
vendor/sensiolabs
vendor/sonata-project
vendor/stof
vendor/swiftmailer
vendor/sylius
vendor/symfony
vendor/twig
vendor/webmozart
vendor/white-october
vendor/willdurand
vendor/winzou
vendor/zendframework
web/assets/
web/bundles/
web/css/
web/js/
